################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/Windows/OpenNUI_G3.opensdf
/Windows/OpenNUI_G3.sdf
/Windows/obj/x32/debug
